body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }

.patient-cards {
    display: flex;
    padding: 10px;
    align-content: center;
justify-content: center;
}

.patient-card {
    width: 280px;
}